.container{
	background-color: #eaeaea;
	padding-bottom: 55px;
	.task-mes{
		padding: 0 5px;
		background-color: white;
		.swiper-box{
			margin: 0 5px;
			height: 300px;
			// border: 1px solid;
			.swiper{
				width: 100%;
				height: 100%;
				.swiper-item{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.mes-box{
	margin: 10px 5px 0 5px;
	.tag{
		margin-bottom: 10px;
		text{
			display: inline-block;
			padding: 2px 5px;
			border-radius: 4px;
			border: 1px solid orange;
			font-size: 12px;
			line-height: 14px;
			color: orangered;
			margin-right: 5px;
		}
	}
	.task-name{
		font-size: 24px;
		// margin-bottom: 10px;
	}
	.task-price{
		font-size: 26px;
		color: orange;
		margin-bottom: 10px;
	}
	.add-mes{
		display: flex;
		padding: 10px 0;
		font-size: 14px;
		color: gray;
		border-top: 1px solid rgba(0, 0, 0, .1);
		.add-mes-list{
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 50px;
			text-align: center;
			border-right: 1px solid rgba(0, 0, 0, .1);
			.num{
				margin-bottom: 5px;
			}
		}
		.add-mes-list4{
			border-right: 0;
		}
	}
}
.user-info{
	display: flex;
	align-items: center;
	padding: 15px;
	margin: 10px 0;
	background-color: white;
	.img-box{
		width: 70px;
		height: 70px;
		margin-right: 10px;
		image{
			width: 100%;
			height: 100%;
		}
	}
	.info-box{
		flex: 1;
		.user-name{
			font-size: 16px;
			margin-bottom: 5px;
		}
		.task-level{
			font-size: 14px;
			color: gray;
			margin-bottom: 5px;
		}
		.site{
			font-size: 14px;
			color: gray;
		}
	}
}
.comment{
	padding: 15px;
	background-color: white;
	.title{
		font-size: 16px;
		padding: 1px 0 1px 5px;
		border-left: 3px solid orange;
		margin-bottom: 10px;
	}
	.tag{
		margin-bottom: 10px;
		text{
			display: inline-block;
			padding: 2px 10px;
			border-radius: 10px;
			background-color: #ffeadc;
			font-size: 10px;
			color: orangered;
			margin-right: 10px;
			margin-bottom: 10px;
			white-space: nowrap;
		}
	}
	.comment-list{
		padding: 5px 0;
		border-top: 1px solid rgba(0, 0, 0, .1);
		.user-info-box{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 10px;
			.img-box{
				width: 30px;
				height: 30px;
				border-radius: 50%;
				margin-right: 10px;
				overflow: hidden;
				image{
					width: 100%;
					height: 100%;
				}
			}
			.user-name{
				font-size: 14px;
				color: gray;
			}
		}
		.user-comment{
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 14px;
			color: gray;
			text{
				color: orange;
			}
		}
	}
}
.task-detail{
	padding: 15px;
	background-color: white;
	.title{
		font-size: 16px;
		padding-left: 10px;
		border-left: 2px solid orange;
		margin-bottom: 10px;
	}
	.ql-container{
		font-size: 13px;
	}
}
.get-btn{
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 50px;
	padding: 5px;
	background-color: white;
	border-top: 1px solid rgba(0, 0, 0, .1);
	.colect{
		color: gray;
		text-align: center;
		text{
			font-size: 16px;
		}
		.title{
			font-size: 12px;
		}
	}
	.seek{
		color: gray;
		text-align: center;
		text{
			font-size: 16px;
		}
		.title{
			font-size: 12px;
		}
	}
	.btn-box{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 70%;
		height: 35px;
		// border: 1px solid;
		border-radius: 4px;
		font-size: 16px;
		line-height: 35px;
		text-align: center;
		color: white;
		overflow: hidden;
		.seek-btn{
			flex: 1;
			height: 100%;
			background: orange;
		}
		.recive-btn{
			flex: 1;
			height: 100%;
			background-color: orangered;
		}
	}
}
