@font-face {
  font-family: "iconfont"; /* Project id 2581402 */
  src: url('//at.alicdn.com/t/font_2581402_553qmtbl4fb.woff2?t=1622717726788') format('woff2'),
       url('//at.alicdn.com/t/font_2581402_553qmtbl4fb.woff?t=1622717726788') format('woff'),
       url('//at.alicdn.com/t/font_2581402_553qmtbl4fb.ttf?t=1622717726788') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhuazixun:before {
  content: "\e605";
}

.icon-add:before {
  content: "\e65d";
}

.icon-rili:before {
  content: "\e621";
}

.icon-gouxuan:before {
  content: "\e786";
}

.icon-shaixuan:before {
  content: "\e612";
}

.icon-gongjuxiang:before {
  content: "\e60e";
}

.icon-faburenwu:before {
  content: "\e67f";
}

.icon-woderenwu:before {
  content: "\e656";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-daifukuan:before {
  content: "\e601";
}

.icon-banben:before {
  content: "\e615";
}

.icon-kefu:before {
  content: "\e71c";
}

.icon-dianzihetong:before {
  content: "\e663";
}

.icon-shezhi:before {
  content: "\e68a";
}

.icon-xiaoxi:before {
  content: "\e609";
}

.icon-jinhangzhong:before {
  content: "\e68b";
}

.icon-HNTE:before {
  content: "\e654";
}

.icon-poll_finished:before {
  content: "\e604";
}

.icon-yijian:before {
  content: "\e81e";
}

.icon-daipingjia:before {
  content: "\ee90";
}

.icon-trademark-circle-fil:before {
  content: "\eacb";
}

.icon-daiheming:before {
  content: "\e61a";
}

.icon-zhuce:before {
  content: "\e785";
}
